html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #FFFFFF;
}

.grid{
  display: grid;
  grid-template-rows: 70px auto 50px;
  grid-template-columns: 150px 180px auto;
  min-height: 100vh;
}


.header{
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4; 
  display: flex;
  justify-content: space-between;  
  background: #3072C4;
  padding: 0 150px;
}

.menu{
  grid-row: 2;
  grid-column: 2;
  background: #DADADA;
}

.content{
  grid-row: 2;
  grid-column: 3;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 900px;
  max-width: 1440px;
}

.footer{
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  background: #FFFFFF;
  color: gray;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 0px 30px 0px;
  justify-content: space-between;
}

.logo{
  padding: 10px 20px 0px 30px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.cart{
  padding: 15px 20px 0px 30px;
  border-left: 1px solid white;
  display: flex;
}

.rubl{
  color: white;
  margin-left: 10px;
}

.str{
  padding: 15px 5px 0px 10px;
  font-size: 14px;
  line-height: 1.5;
}

.str:hover{
  text-decoration: underline;
}

.foot{
  color: black;
}

.breadcrumbs{
  display: flex;
  margin: 20px 0px 20px 30px;
}

h2{
  font-weight: 400;
  margin-left: 30px;
}

.controllers{
  margin: 20px 0px 0px 30px;
  display: flex;
  flex-direction: row;
  line-height: 25px;
}

.item{
  display:flex;
  flex-direction: column;
  margin-right: 80px;
  width: 250px;
  margin-bottom: 30px;
}

a{
  color: blue;
  padding-right: 15px;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}

a::after{
  content: "›";
  color: black;
  position:absolute;
  margin-left: 3px;
}

a:hover:after{
  text-decoration: underline;
}

a:hover:after{
  text-decoration: none;
}

.name:hover{
  text-decoration: underline;
}

.code{
  color: #DADADA;
  margin: 10px 0px;
}

.rubles{
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.submitSend {
  background-color: #3072C4;
  border: 1px solid #3072C4;
  border-radius: 1px;
  color: white;
  width: 120px;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor:pointer;
  display: flex;
  align-items:center;
}

.image{
  margin: auto;
  width: 250px;
  height: 200px;
}

.beat{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}